img.statButton {
    max-width: 8rem;
}

button.statButton {
    display: inline-block;
}

.backbutton {
    max-width: 5rem;
    display: inline-block;
    background-color: transparent;
}