@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Oswald:wght@300;400;500;600;700&display=swap");

:root {
    --bittersweet: #C65252;
    --snow: #F3ECEC;
    --magnolia: #4D4D4D;
    --cedar: #C05746;

    --jet: #333333;
    --black-coffee: #33272A;
    --darkred: #990100;
    --brightred: #B90504;
    --white: #F6F6F6;
    --platinum: #E8E8E8;
    --maroon: #4f001f;
    --gold: #F6BD12;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--white);
}
button {
    outline: none;
    border: none;
    cursor: pointer;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/*

        # # # # #   GENERAL CLASS  # # # # #

*/
.highlight {
    color: var(--darkred);
}

/*

        # # # # #   NAVBAR STYLING CODE  # # # # #

*/

.nav--logo img {
    width: 125px;
}
.navbar {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 99999;
    background-color: var(--jet);
    box-shadow: 8px 8px 12px #2b2b2b, -8px -8px 12px #3b3b3b;
    transition: .3s ease-in-out;
}
.navbar ul {
    display: flex;
}
.navbar ul li .nav--links {
    display: flex;
    align-items: center;
    margin: 3px;
    padding: 0px 25px;
    font-family: "Oswald";
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--platinum);
    background-color: transparent;
}
.navbar ul li .nav--links:hover {
    color: var(--brightred);
}
